.App {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 90px;
    position: relative;
}

.container {
    background-color: var(--background-color);
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 237px 1fr;
    grid-template-rows: 1fr;

    overflow: hidden;
}

.navbar {
    background-color: black;
}

.menu {
    background-color: var(--background-color-lighter);
}

.menu img {
    width: 100px;
    height: auto;
}

.playerbar {
    border-top: 1px solid var(--border-color);
    background-color: var(--background-color-lighter);
}