@layer utilities {
    .spotify-btn {
        @apply rounded-full ml-4 mt-4;
        padding: 1rem 2.8rem 1rem 2.8rem;
        font-size: 1.0rem;
        background-color: var(--primary-color);
        color: var(--text-color-secondary);

        font-weight: 600;
        font-family: "Montserrat", sans-serif;

        transition: background-color 200ms;


    }
    .spotify-btn:hover {
        background-color: var(--primary-color-lighter);
    }

    .spotify-btn:focus {
        outline: none;
    }
}