@layer utilities {
    .text-primary {
        color: var(--text-color-primary);
    }

    .text-secondary {
        color: var(--text-color-secondary);
    }

    .text-secondary-darker {
        color: var(--text-color-secondary-darker);
    }
}